@function lkt-to-string($value: null) {
  @return inspect($value);
}

@function lkt-str-replace($haystack: '', $needle: '', $replace: '') {
  $haystack: lkt-to-string($haystack);
  $index: str-index($haystack, $needle);

  @if $index {
    @return str-slice($haystack, 1, $index - 1) + $replace + lkt-str-replace(str-slice($haystack, $index + str-length($needle)), $needle, $replace);
  }

  @return $haystack;
}

@function lkt-pow($base, $pow) {
  $ret: 1;

  @if $pow >= 0 {
    @for $i from 1 through $pow {
      $ret: $ret * $base;
    }
  } @else {
    @for $i from $pow to 0 {
      $ret: $ret / $base;
    }
  }

  @return $ret;
}

@function lkt-to-fixed($float, $digits: 2) {
  $sass-precision: 5;

  @if $digits > $sass-precision {
    @warn "Sass sets default precision to #{$sass-precision} digits, and there is no way to change that for now."
    + "The returned number will have #{$sass-precision} digits, even if you asked for `#{$digits}`."
    + "See https://github.com/sass/sass/issues/1122 for further informations.";
  }

  $pow: lkt-pow(10, $digits);
  @return round($float * $pow) / $pow;
}

@function lkt-concat($glue: '', $strings...){
  $r: '';
  $l: length($strings);

  @for $i from 1 through $l {
    @if ($i > 1){
      $r: #{$r + $glue + nth($strings, $i)};
    } @else {
      $r: #{$r + nth($strings, $i)};
    }
  }

  @return $r;
}