@mixin lkt-grid-flex-modifiers($media-query: lkt-media-stack-get-last()) {

  $lkt-control: #{'lkt-grid-flex-modifiers-' + $media-query};
  @if (lkt-get($lkt-control) != 'done') {
    @if ($media-query != '') {
      $media-query: #{'-' + $media-query};
    }
    .align-items-start#{$media-query} {
      -ms-flex-align: start !important;
      align-items: flex-start !important;
    }

    .align-items-end#{$media-query} {
      -ms-flex-align: end !important;
      align-items: flex-end !important;
    }

    .align-items-center#{$media-query} {
      -ms-flex-align: center !important;
      align-items: center !important;
    }

    .align-items-baseline#{$media-query} {
      -ms-flex-align: baseline !important;
      align-items: baseline !important;
    }

    .align-items-stretch#{$media-query} {
      -ms-flex-align: stretch !important;
      align-items: stretch !important;
    }

    .align-content-start#{$media-query} {
      -ms-flex-line-pack: start !important;
      align-content: flex-start !important;
    }

    .align-content-end#{$media-query} {
      -ms-flex-line-pack: end !important;
      align-content: flex-end !important;
    }

    .align-content-center#{$media-query} {
      -ms-flex-line-pack: center !important;
      align-content: center !important;
    }

    .align-content-between#{$media-query} {
      -ms-flex-line-pack: justify !important;
      align-content: space-between !important;
    }

    .align-content-around#{$media-query} {
      -ms-flex-line-pack: distribute !important;
      align-content: space-around !important;
    }

    .align-content-stretch#{$media-query} {
      -ms-flex-line-pack: stretch !important;
      align-content: stretch !important;
    }

    .align-self-auto#{$media-query} {
      -ms-flex-item-align: auto !important;
      align-self: auto !important;
    }

    .align-self-start#{$media-query} {
      -ms-flex-item-align: start !important;
      align-self: flex-start !important;
    }

    .align-self-end#{$media-query} {
      -ms-flex-item-align: end !important;
      align-self: flex-end !important;
    }

    .align-self-center#{$media-query} {
      -ms-flex-item-align: center !important;
      align-self: center !important;
    }

    .align-self-baseline#{$media-query} {
      -ms-flex-item-align: baseline !important;
      align-self: baseline !important;
    }

    .align-self-stretch#{$media-query} {
      -ms-flex-item-align: stretch !important;
      align-self: stretch !important;
    }

    .flex-row#{$media-query} {
      -ms-flex-direction: row !important;
      flex-direction: row !important;
    }

    .flex-column#{$media-query} {
      -ms-flex-direction: column !important;
      flex-direction: column !important;
    }

    .flex-row-reverse#{$media-query} {
      -ms-flex-direction: row-reverse !important;
      flex-direction: row-reverse !important;
    }

    .flex-column-reverse#{$media-query} {
      -ms-flex-direction: column-reverse !important;
      flex-direction: column-reverse !important;
    }

    .flex-wrap#{$media-query} {
      -ms-flex-wrap: wrap !important;
      flex-wrap: wrap !important;
    }

    .flex-nowrap#{$media-query} {
      -ms-flex-wrap: nowrap !important;
      flex-wrap: nowrap !important;
    }

    .flex-wrap-reverse#{$media-query} {
      -ms-flex-wrap: wrap-reverse !important;
      flex-wrap: wrap-reverse !important;
    }

    .justify-content-start#{$media-query} {
      -ms-flex-pack: start !important;
      justify-content: flex-start !important;
    }

    .justify-content-end#{$media-query} {
      -ms-flex-pack: end !important;
      justify-content: flex-end !important;
    }

    .justify-content-center#{$media-query} {
      -ms-flex-pack: center !important;
      justify-content: center !important;
    }

    .justify-content-between#{$media-query} {
      -ms-flex-pack: justify !important;
      justify-content: space-between !important;
    }

    .justify-content-around#{$media-query} {
      -ms-flex-pack: distribute !important;
      justify-content: space-around !important;
    }

    $c: lkt-set($lkt-control, 'done');
  }
}

@mixin lkt-grid-flex-row($media-query: lkt-media-stack-get-last()) {
  $media-query-string: lkt-media-get-append-string($media-query);
  $schema-name: #{'lkt-flex-grid-row' + $media-query-string};
  @if (lkt-schema-exists($schema-name) != true) {
    @include lkt-schema-add-one($schema-name) {
      display: flex;
      flex-wrap: wrap;
    }
  }
  @include lkt-schema-one($schema-name);
}

@mixin lkt-grid-flex-column($column: 1, $amount-of-columns: 12, $media-query: lkt-media-stack-get-last()) {
  $media-query-string: lkt-media-get-append-string($media-query);
  $column-width: 100 / $amount-of-columns;
  $width: $column * $column-width * 1%;
  $schema-name: #{'lkt-flex-grid-col-'+lkt-str-replace(lkt-strip-unit($width), '.', '-') + $media-query-string};

  @if (lkt-schema-exists($schema-name) != true) {
    @include lkt-schema-add-one($schema-name) {
      flex: 0 0 $width;
      max-width: $width;
      @if ($column == 0) {
        min-height: 0;
        display: none;
      } @else {
        display: block;
        min-height: 1px;
      }
    }
  }
  @include lkt-schema-one($schema-name);
}

@mixin lkt-grid-flex-column-auto($media-query: lkt-media-stack-get-last()) {
  $media-query-string: lkt-media-get-append-string($media-query);
  $schema-name: #{'lkt-flex-grid-col-auto' + $media-query-string};

  @if (lkt-schema-exists($schema-name) != true) {
    @include lkt-schema-add-one($schema-name) {
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: auto;
      max-width: none;
      min-height: 1px;
      display: block;
    }
  }
  @include lkt-schema-one($schema-name);
}


@mixin lkt-grid-flex($row-name: row, $column-name: col, $amount-of-columns: 12, $media-queries: (''), $include-order: lkt-config(grid-include-order), $include-modifiers: lkt-config(grid-include-modifiers), $include-push-and-pull: lkt-config(grid-include-push-and-pull)) {

  $row-name: unquote($row-name);
  $column-name: unquote($column-name);

  @each $media-query in $media-queries {
    @include lkt-media($media-query) {

      $media-query-str: $media-query;
      @if ($media-query != '') {
        $media-query-str: #{'-' + $media-query};
      }

      $selector: lkt-grid-parse-name(lkt-config(grid-name-row), $row-name, '', '', $media-query-str);
      .#{$selector} {
        @include lkt-grid-flex-row();
      }

      $selector: lkt-grid-parse-name(lkt-config(grid-name-column), $column-name, 'auto', '', $media-query-str);
      .#{$selector} {
        @include lkt-grid-flex-column-auto();
      }

      $selector: lkt-grid-parse-name(lkt-config(grid-name-column), $column-name, 0, '', $media-query-str);
      .#{$selector} {
        @include lkt-grid-flex-column(0, 12);
      }

      $biggest-column: 1;
      @each $columns in $amount-of-columns {

        @if ($columns > $biggest-column) {
          $biggest-column: $columns;
        }

        @for $i from 1 to $columns+1 {
          $selector: lkt-grid-parse-name(lkt-config(grid-name-column), $column-name, $i, $columns, $media-query-str);
          .#{$selector} {
            @include lkt-grid-flex-column($i, $columns);
          }
        }
      }

      @if ($include-order == true) {
        @for $i from 1 to $biggest-column + 1 {
          $selector: lkt-grid-parse-name(lkt-config(grid-name-order), $column-name, 'order', $i, $media-query-str);
          .#{$selector} {
            order: $i;
          }
        }

        $selector: lkt-grid-parse-name(lkt-config(grid-name-order), $column-name, 'order', 'last', $media-query-str);
        .#{$selector} {
          order: $biggest-column;
        }
      }

      @if ($include-modifiers == true) {
        @include lkt-grid-flex-modifiers($media-query);
      }
    }
  }

  @if ($include-push-and-pull == true) {
    @include lkt-push-and-pull($column-name, $amount-of-columns, $media-queries);
  }

  @content;
}