//----------
// Config
//----------
$LKT_VARS: ();

//----------
// Functions
//----------
@function lkt-set($name: '', $value: '') {
  $LKT_VARS: map-merge($LKT_VARS, ($name: $value)) !global;
  @return true;
}

@function lkt-get($name: '') {
  @return map-get($LKT_VARS, $name);
}

@function lkt-isset($name: '') {
  @return lkt-get($name) != null;
}

@function lkt-get-key-by-value($value: '') {
  @each $key, $val in $LKT_VARS {
    @if ($val == $value) {
      @return $key;
    }
  }
  @return false;
}

@function lkt-control($control-variable: '', $control-value: null) {
  $control-variable: lkt-concat('-', $control-variable, lkt-media-stack-get-last());
  @if ($control-value == null) {
    @return lkt-get($control-variable);
  }
  @return lkt-set($control-variable, $control-value);
}

@function lkt-control-exists($control-variable: '') {
  $control-variable: lkt-concat('-', $control-variable, lkt-media-stack-get-last());
  @return lkt-get($control-variable) != null;
}

