//----------
// Config
//----------
$LKT_SCHEMAS: ();
$LKT_SCHEMA_MODE: ();

//----------
// Functions
//----------
@function lkt-schema-exists($schema-name: '') {
  @return (lkt-contains($LKT_SCHEMAS, $schema-name));
}

@function lkt-schema-name-format($schema-name: '', $media-query: '') {
  $media-query-string: lkt-media-get-append-string($media-query);
  $schema-name-string: #{$schema-name + $media-query-string};
  @return $schema-name-string;
}

@function lkt-schema-exists-one($schema-name: '', $media-query: '') {
  @return (lkt-contains($LKT_SCHEMAS, lkt-schema-name-format($schema-name, $media-query)));
}

@function lkt-schema-prepare-name($str: '') {
  $r: lkt-str-replace($str, '.', '-');
  $r: lkt-str-replace($r, '%', 'percent');
  $r: lkt-str-replace($r, ' ', '-');
  $r: lkt-str-replace($r, '!', '');
  @return $r;
}

//----------
// Mixins
//----------
@mixin lkt-schema-add-one($schema-name: '', $media-query: '', $inside-media: false) {
  $media-query-string: lkt-media-get-append-string($media-query);
  $schema-name-string: lkt-schema-name-format($schema-name, $media-query);
  $LKT_SCHEMAS: append($LKT_SCHEMAS, $schema-name-string) !global;
  @at-root {
    @if ($inside-media == false) {
      @include lkt-media($media-query) {
        %lkt-schema-#{$schema-name-string} {
          @content;
        }
      }
    } @else {
      %lkt-schema-#{$schema-name-string} {
        @content;
      }
    }
  }
}

@mixin lkt-schema-one($schema-name: '', $media-query: '') {
  @if (lkt-schema-exists-one($schema-name, $media-query)) {
    $schema-name-string: lkt-schema-name-format($schema-name, $media-query);
    @extend %lkt-schema-#{$schema-name-string} !optional;

  } @else if (lkt-config(debug) != false) {
    @warn lkt-concat(' ', "[LKT SCHEMA]", lkt-concat('', "schema '", $schema-name, "'"), 'does not exists for media', lkt-concat('', "'", $media-query, "'"));
  }

  @content;
}

@mixin lkt-schema-add($schema-name: '', $media-queries: lkt-config(schema-media-queries)) {
  @each $media-query, $value in $media-queries {
    @include lkt-schema-add-one($schema-name, $media-query, false) {
      @content;
    }
  }
}

@mixin lkt-schema($schema-name: '') {
  @include lkt-schema-one($schema-name, lkt-media-stack-get-last()) {
    @content;
  }
}

@mixin lkt-schema-mode($schema-name: '', $config-name: '', $media-queries: ('')) {
  @if (lkt-config($config-name) == true) {
    @if (lkt-schema-exists($schema-name) != true) {
      @include lkt-schema-add($schema-name) {
        @content;
      }
    }

    @include lkt-schema($schema-name);
  } @else {
    @content;
  }
}