@mixin lkt-overlay-container($overlay-selector: overlay, $overlay-color-hex: #000000, $overlay-opacity: .2) {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: auto;

  .#{$overlay-selector} {
    @include lkt-position(absolute, 0, 0, 0, 0);
    background-color: rgba($overlay-color-hex, $overlay-opacity);
    @include lkt-layer(lkt-config(layer-overlay-background));

    ~ * {
      @include lkt-layer(lkt-config(layer-overlay-content));
    }
  }
}

@mixin lkt-overlay($overlay-color-hex: #000000, $overlay-opacity: .2) {
  @include lkt-position(absolute, 0, 0, 0, 0);
  background-color: rgba($overlay-color-hex, $overlay-opacity);
  @include lkt-layer(lkt-config(layer-overlay-background));

  ~ * {
    @include lkt-layer(lkt-config(layer-overlay-content));
  }
}