@mixin lkt-preset-that-css() {

  $a: lkt-media(tn, '(min-width: 321px)');
  $a: lkt-media(ssm, '(min-width: 481px)');
  $a: lkt-media(sm, '(min-width: 641px)');
  $a: lkt-media(lsm, '(min-width: 769px)');
  $a: lkt-media(smd, '(min-width: 993px)');
  $a: lkt-media(md, '(min-width: 1025px)');
  $a: lkt-media(lg, '(min-width: 1281px)');
  $a: lkt-media(xl, '(min-width: 1921px)');

  // Font family
  $c: lkt-config(font-default, false, arial);

  // Font size (always in px)
  $c: lkt-config(font-size, false, 14px);

  // Factor to convert from px to rem
  $c: lkt-config(unit-factor-rem, false, 14);

  // Reset
  @include lkt-reset();
  @include lkt-normalize();

  // Generate grids
  @include lkt-grid-flex(that-row, that-col, 1 2 3 4, '' tn ssm sm lsm smd md lg xl);
  @include lkt-grid-flex(that-row, that-col, 1 2 3 4 5 6 8 10 12 24, '' tn ssm sm lsm smd md lg xl);

  // Multimedia
  $that-media-aspect-ratio: (
          1: (1),
          2: (1),
          8: (4),
          3: (1),
          4: (1),
          16: (9, 10),
  );

  @each $width, $heights in $that-media-aspect-ratio {
    @each $height in $heights {
      $multimedia-alias: lkt-concat(':', $width, $height);
      .that-media-#{$width}-#{$height}-in {
        @include lkt-multimedia-in($multimedia-alias);
      }
      .that-media-#{$width}-#{$height}-out {
        @include lkt-multimedia-out($multimedia-alias);
      }
      .that-media-#{$width}-#{$height}-fit {
        @include lkt-multimedia-fit($multimedia-alias);
      }
    }
  }
}