//----------
// Functions
//----------
@function lkt-get-unit-factor($unit-name: 'px') {
  @if ($unit-name == 'px') {
    @return 1px;
  } @else if ($unit-name == 'rem') {
    @return 1rem;
  } @else if ($unit-name == 'vw') {
    @return 1vw;
  } @else if ($unit-name == 'vh') {
    @return 1vh;
  } @else if ($unit-name == 'em') {
    @return 1em;
  } @else if ($unit-name == '%') {
    @return 1%;
  } @else {
    @return 1;
  }
}

@function lkt-cast($value: 0, $unit: 'px') {
  @return lkt-strip-unit($value) * lkt-get-unit-factor($unit);
}

@function lkt-unit-convert($value-in-px: 0, $factor: 1, $amount-of-decimals: 2, $unit: 'px') {
  $l: length($value-in-px);
  @if ($l > 1) {
    $rules: ();
    @each $v in $value-in-px {
      @if (lkt-is-absolute-length($v)) {
        $rules: append($rules, lkt-unit-convert($v, $factor, $amount-of-decimals, $unit));
      } @else {
        $rules: append($rules, $v);
      }
    }

    $value-in-px: $rules;

  } @else {
    $value-in-px: lkt-strip-unit($value-in-px);
    $factor: lkt-strip-unit($factor);

    @if($value-in-px == 0){
      @return 0;

    } @else if ($unit == 'rem' or $unit == 'em') {
      $value-in-px: lkt-cast(($value-in-px / $factor), $unit);

    } @else if ($unit == 'vw' or $unit == 'vh' or $unit == '%') {
      $value-in-px: lkt-cast((($value-in-px * 100) / $factor), $unit);

    }

    $value-in-px: lkt-to-fixed($value-in-px, $amount-of-decimals);
  }
  @return $value-in-px;
}

@function lkt-rem($value-in-px: 0, $factor: lkt-config(unit-factor-rem), $amount-of-decimals: lkt-config(unit-round-rem)) {
  @return lkt-unit-convert($value-in-px, $factor, $amount-of-decimals, 'rem');
}

@function lkt-em($value-in-px: 0, $parent-font-size-in-px: 16, $amount-of-decimals: lkt-config(unit-round-em)) {
  @return lkt-unit-convert($value-in-px, $parent-font-size-in-px, $amount-of-decimals, 'em');
}

@function lkt-vw($value-in-px: 0, $viewport-size: lkt-config(design-viewport-width), $amount-of-decimals: lkt-config(unit-round-vw)) {
  @return lkt-unit-convert($value-in-px, $viewport-size, $amount-of-decimals, 'vw');
}

@function lkt-vh($value-in-px: 0, $viewport-size: lkt-config(design-viewport-height), $amount-of-decimals: lkt-config(unit-round-vh)) {
  @return lkt-unit-convert($value-in-px, $viewport-size, $amount-of-decimals, 'vh');
}

@function lkt-percent($value-in-px: 0, $viewport-size: 0, $amount-of-decimals: lkt-config(unit-round-percent)) {
  @return lkt-unit-convert($value-in-px, $viewport-size, $amount-of-decimals, '%');
}

@function lkt-percent-to-px($percentage: 0, $viewport-size: 0, $amount-of-decimals: 5) {
  $l: length($percentage);
  @if ($l > 1) {
    $rules: ();
    @each $v in $percentage {
      @if (lkt-is-absolute-length($v)) {
        $rules: append($rules, lkt-percent($v, $viewport-size, $amount-of-decimals));
      } @else {
        $rules: append($rules, $v);
      }
    }

    $percentage: $rules;

  } @else {
    $percentage: lkt-strip-unit($percentage);
    $viewportSize: lkt-strip-unit($viewport-size);
    $percentage: (($viewportSize * $percentage) / 100) * 1px;
    $percentage: lkt-to-fixed($percentage, $amount-of-decimals);
  }
  @return $percentage;
}

@function lkt-unit-grow($unit-in-px: 0px, $viewport-size: 0px, $max-viewport-size: 0px) {
  $l: length($unit-in-px);
  @if ($l > 1) {
    $rules: ();
    @each $v in $unit-in-px {
      @if (lkt-is-absolute-length($v)) {
        $limit: ($max-viewport-size * $v) / $viewport-size;
        $rules: append($rules, $limit);
      } @else {
        $rules: append($rules, $v);
      }
    }

    $unit-in-px: $rules;

  } @else {
    $unit: lkt-get-unit-factor(unit($unit-in-px));

    $unit-in-px: lkt-strip-unit($unit-in-px);
    $max-viewport-size: lkt-strip-unit($max-viewport-size);
    $viewport-size: lkt-strip-unit($viewport-size);

    $unit-in-px: ($max-viewport-size * $unit-in-px) / $viewport-size;
    $unit-in-px: $unit-in-px * $unit;
  }

  @return $unit-in-px;
}

@function lkt-scale-unit($unit-in-px: 0px, $factor: 1) {
  $l: length($unit-in-px);
  @if ($l > 1) {
    $rules: ();
    @each $v in $unit-in-px {
      @if (lkt-is-absolute-length($v)) {
        $rules: append($rules, $v * $factor);
      } @else {
        $rules: append($rules, $v);
      }
    }

    $unit-in-px: $rules;

  } @else {
    $unit: lkt-get-unit-factor(unit($unit-in-px));
    $unit-in-px: lkt-strip-unit($unit-in-px);
    $unit-in-px: $unit-in-px * $factor;
    $unit-in-px: $unit-in-px * $unit;
  }

  @return $unit-in-px;
}

@function lkt-unit-auto-convert-from-px($value-in-px: 0px, $unit-name: 'px') {
  @if ($unit-name == 'rem') {
    @return lkt-rem($value-in-px);
  } @else if ($unit-name == 'vw') {
    @return lkt-vw($value-in-px);
  } @else if ($unit-name == 'vh') {
    @return lkt-vh($value-in-px);
  } @else if ($unit-name == 'em') {
    @return lkt-em($value-in-px);
  } @else if ($unit-name == '%') {
    @return lkt-percent($value-in-px);
  } @else {
    @return $value-in-px;
  }
}

@function lkt-percent-through-percent-parent($parent-percent: 1%, $child-percent: 1%) {
  $parent-percent: lkt-strip-unit($parent-percent);
  $child-percent: lkt-strip-unit($child-percent);
  @return (($child-percent * 100) / $parent-percent) * 1%;
}

@function lkt-in-same-unit($value-a: 1px, $value-b: 1px){
  @if( type-of($value-a) == 'list' or type-of($value-b) == 'list' ){
    @return false;
  }
  @if( unit($value-a) == unit($value-b) ){
    @return true;
  }
  @return false;
}

@function lkt-line-height($line-height-in-px: 1px, $font-size: 1px, $amount-of-digits: lkt-config(unit-round-lh)) {
  $line-height-in-px: lkt-strip-unit($line-height-in-px);
  $font-size: lkt-strip-unit($font-size);
  @return lkt-to-fixed($line-height-in-px / $font-size, $amount-of-digits);
}

//----------
// Mixins: Enough
//----------
@mixin lkt-big-enough($property: '', $unit-in-px: 0px, $viewport-size: lkt-config(design-viewport-width), $enough: false, $unit: lkt-config(unit-enough)) {

  $value: lkt-unit-grow($unit-in-px, $viewport-size, $enough);

  @if (lkt-schema-exists($enough)) {
    @include lkt-media($enough) {
      #{$property}: lkt-unit-auto-convert-from-px($value, $unit);
    }

  } @else {

    $media-type: lkt-config(media-default-target);
    $r: lkt-concat('', '(min-width: ', $enough, ')');
    @if ($media-type != '' and $media-type != false and $r != null and $media-type != null) {
      $r: lkt-concat(' and ', $media-type, $r);
    }
    @media #{$r}{
      #{$property}: lkt-unit-auto-convert-from-px($value, $unit);
    }
  }
}

@mixin lkt-small-enough($property: '', $unit-in-px: 0px, $viewport-size: lkt-config(design-viewport-width), $enough: false, $unit: lkt-config(unit-enough)) {
  $value: lkt-unit-grow($unit-in-px, $viewport-size, $enough);

  @if (lkt-schema-exists($enough)) {
    @include lkt-media($enough) {
      #{$property}: lkt-unit-auto-convert-from-px($value, $unit);
    }
  } @else {

    $media-type: lkt-config(media-default-target);
    $r: lkt-concat('', '(max-width: ', $enough, ')');
    @if ($media-type != '' and $media-type != false and $r != null and $media-type != null) {
      $r: lkt-concat(' and ', $media-type, $r);
    }
    @media #{$r}{
      #{$property}: lkt-unit-auto-convert-from-px($value, $unit);
    }
  }
}

//----------
// Mixins
//----------
@mixin lkt-rem($property: '', $unit-in-px: 0px, $factor: lkt-config(unit-factor-rem), $amount-of-decimals: lkt-config(unit-round-rem)) {
  @if (lkt-config(unit-include-px) == true) {
    #{$property}: $unit-in-px;
  }
  #{$property}: lkt-rem($unit-in-px, $factor, $amount-of-decimals);
}

@mixin lkt-em($property: '', $unit-in-px: 0px, $parent-font-size-in-px: 10px, $amount-of-decimals: lkt-config(unit-round-em)) {
  @if (lkt-config(unit-include-px) == true) {
    #{$property}: $unit-in-px;
  }
  #{$property}: lkt-em($unit-in-px, $parent-font-size-in-px, $amount-of-decimals);
}

@mixin lkt-vw($property: '', $unit-in-px: 0px, $viewport-size: lkt-config(design-viewport-width), $amount-of-decimals: lkt-config(unit-round-vw)) {
  @if (lkt-config(unit-include-px) == true) {
    #{$property}: $unit-in-px;
  }
  #{$property}: lkt-vw($unit-in-px, $viewport-size, $amount-of-decimals);
}

@mixin lkt-vh($property: '', $unit-in-px: 0px, $viewport-size: lkt-config(design-viewport-height), $amount-of-decimals: lkt-config(unit-round-vh)) {
  @if (lkt-config(unit-include-px) == true) {
    #{$property}: $unit-in-px;
  }
  #{$property}: lkt-vh($unit-in-px, $viewport-size, $amount-of-decimals);
}

@mixin lkt-percent($property: '', $unit-in-px: 0px, $viewport-size: 0px, $amount-of-decimals: lkt-config(unit-round-percent)) {
  @if (lkt-config(unit-include-px) == true) {
    #{$property}: $unit-in-px;
  }
  #{$property}: lkt-percent($unit-in-px, $viewport-size, $amount-of-decimals);
}