@import "functions/strings";
@import "functions/lists";
@import "functions/units";

//@function lkt-prop

@mixin lkt-text-overflow-ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin lkt-text-overflow-ellipsis-multiline($line-height: 1.2em, $line-count: 1, $bg-color: #ffffff) {
  line-height: $line-height;
  max-height: $line-height * $line-count;
  position: relative;
  overflow: hidden;
  text-align: justify;
  display: inline-block;
  margin-right: -1em;
  padding-right: 1em;
  box-shadow: lkt-rem(inset 0 -10px 20px -5px $bg-color);

  &:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 2;
  }

  &:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: $bg-color;
    z-index: 1;
  }
}

@mixin lkt-force-hardware-acceleration($use-transform: true) {
  @if ($use-transform == true) {
    transform: translateZ(0);
  }
  backface-visibility: hidden;
  perspective: 1000px;
  @if ($use-transform == true) {
    transform: translate3d(0, 0, 0);
  }
}

@mixin lkt-out-of-bounds() {
  position: relative;
  width: 100vw !important;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

@mixin lkt-ms-remove-select-arrow() {
  &::-ms-expand {
    display: none;
  }
}

@mixin lkt-ms-remove-input-clear() {
  input::-ms-clear {
    display: none;
  }
}

@mixin lkt-placeholder() {
  // Webkit
  ::-webkit-input-placeholder {
    @content;
  }
  // Moz 19+
  ::-moz-placeholder { /* Firefox 19+ */
    @content;
  }
  // IE 10+
  :-ms-input-placeholder {
    @content;
  }
  // Moz 18-
  :-moz-placeholder {
    @content;
  }
}

@mixin lkt-disable-webkit-autocomplete() {
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-transition-delay: 99999s;
  }
}

@mixin lkt-disable-search-reset() {
  input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
  input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration { display: none; }
}

@mixin lkt-disable-moz-outline() {
  &::-moz-focus-inner {
    border: 0;
  }
}

@mixin lkt-position($position: false, $top: false, $right: false, $bottom: false, $left: false) {
  @if ($position != false) {
    position: $position;
  }
  @if ($top != false) {
    top: $top;
  }
  @if ($right != false) {
    right: $right;
  }
  @if ($bottom != false) {
    bottom: $bottom;
  }
  @if ($left != false) {
    left: $left;
  }
}

@mixin lkt-wysiwg-element-spacing($space: 14px) {
  p,
  ul,
  ol,
  > div {
    &:not(:last-child) {
      margin-bottom: $space;
    }

    &:empty {
      display: none;
    }
  }

  @if (lkt-config(support-wordpress) == true) {
    .wp-block-columns,
    .wp-block-embed {
      &:not(:last-child) {
        margin-bottom: $space;
      }
    }

    > .alignright {
      float: right;
      margin-left: $space,
    }

    > .alignleft {
      float: left;
      margin-right: $space,
    }

    @include lkt-media(to-md){
      > .alignright {
        float: none;
        margin-left: auto,
      }

      > .alignleft {
        float: none;
        margin-right: auto,
      }
    }
  }
}

@mixin lkt-shadow-underline($underline-color: #000, $size: 2px) {
  display: inline;
  $size: $size * -1;
  box-shadow: inset 0 -1px 0 transparent, inset 0 $size 0 $underline-color;

}

@mixin lkt-gradient-underline($underline-color: #000, $background-size: 50px, $line-size: 3%, $line-position: 96%) {
  display: inline;
  background: linear-gradient(to bottom, transparent 0%, transparent $line-position - 1, $underline-color $line-position, transparent $line-position + $line-size, transparent 100%);
  background-size: $background-size $background-size;
}

@mixin lkt-hyphenate() {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

@mixin lkt-momentum-scroll() {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

@mixin lkt-style-cross-children($levels: 1, $apply-to-myself: true){
  @if ($apply-to-myself == true){
    @content;
  }

  @if($levels > 0){
    > * {
      @include lkt-style-cross-children($levels - 1, true){
        @content;
      }
    }
  }
}