//----------
// Mixins
//----------
@mixin lkt-touch($media-query: '') {
  &:hover:active:focus {
    @include lkt-media($media-query) {
      @content;
    }
  }
}

@mixin lkt-hover($media-query: '') {
  &:hover {
    @include lkt-media($media-query) {
      @content;
    }
  }
}