@mixin lkt-push-and-pull($column-name: 'col', $amount-of-columns: 12, $media-queries: ()) {

  @each $media-query in $media-queries {
    @include lkt-media($media-query) {
      $media-query-str: $media-query;
      @if ($media-query != '') {
        $media-query-str: #{'-' + $media-query};
      }

      $schema-name: lkt-concat('', 'lkt-col-push-0', $media-query-str);
      @if (lkt-schema-exists($schema-name) != true) {
        @include lkt-schema-add-one($schema-name) {
          position: relative;
          margin-left: 0;
        }
      }

      $schema-name: lkt-concat('', 'lkt-col-pull-0', $media-query-str);
      @if (lkt-schema-exists($schema-name) != true) {
        @include lkt-schema-add-one($schema-name) {
          position: relative;
          margin-left: 0;
        }
      }

      @each $columns in $amount-of-columns {
        @for $i from 1 to $columns+1 {

          $column-width: 100 / $columns;

          $width: $i * $column-width * 1%;

          @if (lkt-schema-exists(#{'lkt-col-push-'+lkt-str-replace(lkt-strip-unit($width), '.', '-') + $media-query-str}) != true) {
            @include lkt-schema-add-one(#{'lkt-col-push-'+lkt-str-replace(lkt-strip-unit($width), '.', '-') + $media-query-str}) {
              position: relative;
              margin-left: $width;
            }
          }

          @if (lkt-schema-exists(#{'lkt-col-pull-'+lkt-str-replace(lkt-strip-unit($width), '.', '-') + $media-query-str}) != true) {
            @include lkt-schema-add-one(#{'lkt-col-pull-'+lkt-str-replace(lkt-strip-unit($width), '.', '-') + $media-query-str}) {
              position: relative;
              margin-left: $width * -1;
            }
          }
        }
      }
    }
  }

  @each $media-query in $media-queries {
    @include lkt-media($media-query) {
      $media-query-str: $media-query;
      @if ($media-query != '') {
        $media-query-str: #{'-' + $media-query};
      }

      .#{$column-name}-push-0#{$media-query-str} {
        @include lkt-schema(lkt-col-push-0);
      }

      .#{$column-name}-pull-0#{$media-query-str} {
        @include lkt-schema(lkt-col-pull-0);
      }

      @each $columns in $amount-of-columns {

        @for $i from 1 to $columns+1 {

          $column-width: 100 / $columns;

          $width: $i * $column-width * 1%;

          .#{$column-name}-push-#{$i}-#{$columns}#{$media-query-str} {
            @include lkt-schema(#{'lkt-col-push-'+lkt-str-replace(lkt-strip-unit($width), '.', '-')});
          }

          .#{$column-name}-pull-#{$i}-#{$columns}#{$media-query-str} {
            @include lkt-schema(#{'lkt-col-pull-'+lkt-str-replace(lkt-strip-unit($width), '.', '-')});
          }
        }
      }

    }
  }
}