@mixin lkt-pseudo($display: null, $position: initial, $content: '') {
  @if ($display != null) {
    @if ($display != false) {
      display: $display;
    }
    @if ($position != false) {
      position: $position;
    }
    @if ($content != false) {
      content: $content;
    }
  }
  @content;
}

@mixin lkt-before($display: null, $position: initial, $content: '') {
  &:before {
    @include lkt-pseudo($display, $position, $content) {
      @content;
    }
  }
}

@mixin lkt-after($display: null, $position: initial, $content: '') {
  &:after {
    @include lkt-pseudo($display, $position, $content) {
      @content;
    }
  }
}

@mixin lkt-pseudos($display: null, $position: initial, $content: '') {
  &:before,
  &:after {
    @include lkt-pseudo($display, $position, $content) {
      @content;
    }
  }
}