@mixin lkt-loader-roller-keyframe() {
  @if (lkt-isset(lkt-loader-roller-keyframes) == false) {
    @keyframes lkt-loader-roller {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }

    $c: lkt-set(lkt-loader-roller-keyframes, true);
  }
}

@mixin lkt-loader-circle-keyframe() {
  @if (lkt-isset(lkt-loader-circle-keyframes) == false) {

    @keyframes lkt-loader-circle {
      0%, 100% {
        animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
      }
      0% {
        transform: rotateY(0deg);
      }
      50% {
        transform: rotateY(1800deg);
        animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
      }
      100% {
        transform: rotateY(3600deg);
      }
    }

    $c: lkt-set(lkt-loader-circle-keyframes, true);
  }
}