@mixin lkt-circle($size: 5px) {
  border-radius: 100%;
  height: $size;
  width: $size;

  @content;
}

@mixin lkt-square($size: 5px) {
  height: $size;
  width: $size;

  @content;
}

@mixin lkt-hexagon($size: 5px, $color: #000) {
  $size-half: $size / 2;
  $size-third: $size * 0.2886;

  position: relative;
  width: $size;
  height: $size-third * 2;
  background-color: $color;
  margin: $size-third 0;

  @include lkt-pseudos(block, absolute) {
    width: 0;
    border-left: $size-half solid transparent;
    border-right: $size-half solid transparent;
  }

  @include lkt-before {
    bottom: 100%;
    border-bottom: $size-third solid $color;
  }

  @include lkt-after {
    top: 100%;
    width: 0;
    border-top: $size-third solid $color;
  }
}